<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="robot_name" default="right_arm" />
  <arg name="camera_id" default="3"/>
  <arg name="color_width" default="1920" />
  <arg name="color_high" default="1080"/>

  <node name="hand_eye_trans" pkg="hand_eye" type="hand_eye_trans.py" output="screen">
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="camera_id" value="$(arg camera_id)"/>
    <param name="color_width" value="$(arg color_width)"/>
    <param name="color_high" value="$(arg color_high)"/>
  </node>
</launch>



<launch>
  <!-- Realsense Parameters-->
  <arg name="camera_left"               default="cam_left"/>
  <arg name="serial_no_left"            default="908212070822"/>

  <arg name="camera_right"              default="cam_right"/>
  <arg name="serial_no_right"           default="939722070125"/>

  <arg name="enable_depth"              default="false"/>

  <arg name="enable_color"              default="true"/>
  <arg name="color_width"               default="1920"/>
  <arg name="color_height"              default="1080"/>

  <arg name="color_fps"                 default="30"/>
  <arg name="align_depth"               default="false"/>

  <!-- Open Left Realsense D435i -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"               	  value="$(arg camera_left      )"/>
    <arg name="serial_no"                 value="$(arg serial_no_left   )"/>
    <arg name="enable_depth"              value="$(arg enable_depth     )"/>
    <arg name="enable_color"              value="$(arg enable_color     )"/>
    <arg name="color_width"               value="$(arg color_width      )"/>
    <arg name="color_height"              value="$(arg color_height     )"/>   
    <arg name="color_fps"                 value="$(arg color_fps        )"/>
    <arg name="align_depth"               value="$(arg align_depth      )"/>
  </include>

  <!-- Open Right Realsense D435i -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"               	  value="$(arg camera_right     )"/>
    <arg name="serial_no"                 value="$(arg serial_no_right  )"/>
    <arg name="enable_depth"              value="$(arg enable_depth     )"/>
    <arg name="enable_color"              value="$(arg enable_color     )"/> 
    <arg name="color_width"               value="$(arg color_width      )"/>
    <arg name="color_height"              value="$(arg color_height     )"/>   
    <arg name="color_fps"                 value="$(arg color_fps        )"/>
    <arg name="align_depth"               value="$(arg align_depth      )"/>
  </include>
  
  <!-- ArUco Marker Detection -->
  <node pkg="aruco_detection" type="MarkerPosture" name="MarkerPosture">
  </node>
</launch>



